coverage/
public/
test/fixtures/.thelounge/logs/
test/fixtures/.thelounge/storage/

*.log
*.png
*.svg
*.ico
*.wav
*.tpl
*.sh
*.opts
*.txt
local.Dockerfile
yarn.lock
README.md
.gitignore
.npmrc
.npmignore
.prettierignore
.thelounge_home
.editorconfig
.eslintignore
.gitattributes
.browserslistrc
.vimrc
.viminfo

*.css
